.o-alertPopup {
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid black;
    width: 100%;
    background-color: #fff;

    &__textContainer {
        margin: 10px 0;
    }

    &__close {
        font-weight: bold;
    }
}