input, textarea {
    overflow: visible;
    border-radius: 0;
    border: none;
    /* border-bottom: 5px solid skyblue; */
    padding: 12px;
    outline: none;
    border-radius: 6px;
    margin: 8px 0;
}

button {
    border-radius: 0;
    padding: 8px;
    text-transform: uppercase;
}

.m-form{
    
    &__inputGroup{
        display: flex;
        flex-direction: column;
    }
    
    &__buttonGroup{
        display: flex;
        margin: 10px 0;
    }

    &__input {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        textarea {
            resize: none;
        }

        label {
            font-weight: bold;
        }
    } 

    &__inputError {
        display: flex;
        flex-direction: column;
        height: 12px;
        color: #A52A2A;
    }   
}