input, textarea {
    overflow: visible;
    border-radius: 0;
    border: 1px solid lightgrey;
    padding: 4px;
    outline: none;
}

button {
    border-radius: 0;
    padding: 8px;
    text-transform: uppercase;
}

.m-form{
    
    &__inputGroup{
        display: flex;
        flex-direction: column;
    }
    
    &__buttonGroup{
        display: flex;
        margin: 10px 0;
    }

    &__input{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        & textarea {
            resize: none;
        }
    } 

    &__inputError {
        display: flex;
        flex-direction: column;
        height: 12px;
    }   
}