
.o-navigationMenu {
    display: flex;
    list-style: none;
    text-transform: uppercase;
  
    margin: 12px 0;
    height: 24px;
    line-height: 24px;

    &__link{
      text-decoration: none;
      margin-right: 12px;;
      .-active & {
        color: red;
      } 
    }
  }