body {
    background-image: url("/images/nerd-desk.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.layoutContent {
    backdrop-filter: blur(16px);
    padding: 24px;
}
